{% extends "base_generic.html" %}

{% block content %}

<h1>Title: {{ ticket.title }}</h1>

<p><strong>Client:</strong> <a href="{% url 'client-detail' ticket.client.pk %}">{{ ticket.client }}</a></p>
<p><strong>Summary:</strong> {{ ticket.summary }}</p>
<!-- <p><strong>ISBN:</strong> {{ ticket.isbn }}</p> -->
<p><strong>Employee:</strong> {{ ticket.employee }}</p>
<!-- <p><strong>Status:</strong> {% for status in ticket.status.all %}{{status}}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->

<div style="margin-left:20px;margin-top:20px">
<h4>Copies</h4>

{% for copy in ticket.task_set.all %}
<hr>
<p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
{% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.scheduled_day}}</p>{% endif %}
<p><strong>Imprint:</strong> {{copy.Work_Summary}}</p>
<p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>

{% endfor %}
</div>
{% endblock %}

